flow.json
[{"id":"60ce1a0a.6a9d54","type":"tab","label":"HMPx modbus poll","disabled":false,"info":""},{"id":"b441a82e.aa0a28","type":"modbus-client","z":"","name":"Vaisala USB cable COM_","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM27","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","unit_id":"240","commandDelay":"5","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c81fdd58.9b5d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d450e7a9.fd3588","type":"ui_group","z":"","name":"Default","tab":"c81fdd58.9b5d","disp":true,"width":"10","collapse":false},{"id":"ffc52426.cc1968","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"37fae3b7.29127c","type":"modbus-read","z":"60ce1a0a.6a9d54","name":"Vaisala USB cable COM_","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"hmpx.json","dataType":"HoldingRegister","adr":"0","quantity":"65","rate":"5","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"b441a82e.aa0a28","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":290,"y":220,"wires":[["731e291e.327b18"],[]]},{"id":"731e291e.327b18","type":"function","z":"60ce1a0a.6a9d54","name":"Data to float32","func":"\n/*\nParameter                               Symbol      Unit\n------------------------------------    ------      ------\nRelative humidity                                                               RH          %\nTemperature                                                                T           °C\nDew point temperature                                     Td          °C\nDew/frost point temperature                 Tdf         °C\nDew/frost point temperature at 1 atm   Tdfa        °C\nDew point temperature at 1 atm                                          Tda         °C\nAbsolute humidity                                                             a           g/m3\nMixing ratio                                                              x           g/kg dry air\nWet-bulb temperature                                                 Tw          °C\nWater concentration                                                         H2O         ppmv\nWater vapor pressure                                                   pw          hPa\nWater vapor saturation pressure                           pws         hPa\nEnthalpy                                                                        h           kJ/kg\nWater activity                                                           aw          1\nDew point temperature difference                        DT          °C\nAbsolute humidity at NTP                                                       aNTP        g/m3\nWater concentration in oil                                                      ppm         ppm\nSensor saturation ratio                                                 SSR         %\nSensor temperature                                                          Ts          °C\nRelative saturation (of oil)            RS          %\n*/\n\n\nfunction uint16ToFloat32(low, high) {\n  var buffer = new ArrayBuffer(4);\n  var intView = new Uint16Array(buffer);\n  var floatView = new Float32Array(buffer);\n\n  intView[0] = low;\n  intView[1] = high;\n  return floatView[0];\n}\n\nvar data =  {payload:{}}\n\n\nlow = msg.payload[0];\nhigh = msg.payload[1];\ndata.payload.RH = uint16ToFloat32(low,high);\n\nlow = msg.payload[2];\nhigh = msg.payload[3];\ndata.payload.T = uint16ToFloat32(low,high);\n\nlow = msg.payload[6];\nhigh = msg.payload[7];\ndata.payload.Td = uint16ToFloat32(low,high);\n\nlow = msg.payload[8];\nhigh = msg.payload[9];\ndata.payload.Tdf = uint16ToFloat32(low,high);\n\nlow = msg.payload[10];\nhigh = msg.payload[11];\ndata.payload.Tdfatm = uint16ToFloat32(low,high);\n\nlow = msg.payload[12];\nhigh = msg.payload[13];\ndata.payload.Tdatm = uint16ToFloat32(low,high);\n\nlow = msg.payload[14];\nhigh = msg.payload[15];\ndata.payload.a = uint16ToFloat32(low,high);\n\nlow = msg.payload[16];\nhigh = msg.payload[17];\ndata.payload.x = uint16ToFloat32(low,high);\n\nlow = msg.payload[18];\nhigh = msg.payload[19];\ndata.payload.Tw = uint16ToFloat32(low,high);\n\nlow = msg.payload[20];\nhigh = msg.payload[21];\ndata.payload.H2O = uint16ToFloat32(low,high);\n\nlow = msg.payload[22];\nhigh = msg.payload[23];\ndata.payload.pw = uint16ToFloat32(low,high);\n\nlow = msg.payload[24];\nhigh = msg.payload[25];\ndata.payload.pws = uint16ToFloat32(low,high);\n\nlow = msg.payload[26];\nhigh = msg.payload[27];\ndata.payload.h = uint16ToFloat32(low,high);\n\nlow = msg.payload[28];\nhigh = msg.payload[29];\ndata.payload.Aw = uint16ToFloat32(low,high);\n\nlow = msg.payload[30];\nhigh = msg.payload[31];\ndata.payload.DT = uint16ToFloat32(low,high);\n\nlow = msg.payload[32];\nhigh = msg.payload[33];\ndata.payload.aNTP = uint16ToFloat32(low,high);\n\nlow = msg.payload[34];\nhigh = msg.payload[35];\ndata.payload.ppm = uint16ToFloat32(low,high);\n\nlow = msg.payload[36];\nhigh = msg.payload[37];\ndata.payload.SSR = uint16ToFloat32(low,high);\n\nlow = msg.payload[38];\nhigh = msg.payload[39];\ndata.payload.Ts = uint16ToFloat32(low,high);\n\nlow = msg.payload[40];\nhigh = msg.payload[41];\ndata.payload.RS = uint16ToFloat32(low,high);\n\nlow = msg.payload[64];\nhigh = msg.payload[65];\ndata.payload.H2Ow = uint16ToFloat32(low,high);\n\n\ndata.Topic = \"Data\"\nreturn data;\n\n","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["a65e3c3f.4604a","75b3ef42.716de"]]},{"id":"a65e3c3f.4604a","type":"function","z":"60ce1a0a.6a9d54","name":"RH","func":"var RH = msg.payload.RH;\nmsg.payload = RH.toFixed(1);\nmsg.topic=\"RH\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["848e74d4.225cb8","4283b5ff.a433ac"]]},{"id":"75b3ef42.716de","type":"function","z":"60ce1a0a.6a9d54","name":"T","func":"var T = msg.payload.T;\nmsg.payload = T.toFixed(1);\nmsg.topic=\"Temperature\"\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["848e74d4.225cb8","4283b5ff.a433ac"]]},{"id":"848e74d4.225cb8","type":"ui_chart","z":"60ce1a0a.6a9d54","name":"","group":"d450e7a9.fd3588","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":260,"wires":[[]]},{"id":"4283b5ff.a433ac","type":"debug","z":"60ce1a0a.6a9d54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":400,"wires":[]},{"id":"4f87c3.3c37883c","type":"comment","z":"60ce1a0a.6a9d54","name":"Read me first","info":"This example flow illustrates how to use Vaisala HMP4, HMP5, HMP7, HMP8, HMP9 and TMP1 probes over Modbus.\n\n1) Check the COM port of your USB cable from device manager -> COM ports (Vaisala USB cable)\n2) Change the COM port at configuration nodes (Vaisala USB cable COM_)\n3) Make sure the Modbus address of the probe connected to the USB cable is 240 (factory default)\n4) Copy the RH or T node, and change the symbol of the variable to correct one\n\nParameter                               Symbol      Unit\n------------------------------------    ------      ------\nRelative humidity                       RH          %\nTemperature                             T           °C\nDew point temperature                   Td          °C\nDew/frost point temperature             Tdf         °C\nDew/frost point temperature at 1 atm    Tdfa        °C\nDew point temperature at 1 atm          Tda         °C\nAbsolute humidity                       a           g/m3\nMixing ratio                            x           g/kg dry air\nWet-bulb temperature                    Tw          °C\nWater concentration                     H2O         ppmv\nWater vapor pressure                    pw          hPa\nWater vapor saturation pressure         pws         hPa\nEnthalpy                                h           kJ/kg\nWater activity                          aw          1\nDew point temperature difference        DT          °C\nAbsolute humidity at NTP                aNTP        g/m3\nWater concentration in oil              ppm         ppm\nSensor saturation ratio                 SSR         %\nSensor temperature                      Ts          °C\nRelative saturation (of oil)            RS          %\n","x":290,"y":340,"wires":[]}]